<?xml version="1.0" encoding="utf-8"?>

<!-- web.config 変換の詳細については、http://go.microsoft.com/fwlink/?LinkId=125889 を参照してください。 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    次の例では、"MyDB" という値を持つ "name" 属性が "Match" ロケーターで
    見つかった場合にのみ、"SetAttributes" 変換によって "connectionString" の
    値が "ReleaseSQLServer" を使用するように変更されます。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      
      次の例では、web.config ファイルの <customErrors> セクション全体が 
      "Replace" 変換によって置き換えられます。
      <system.web> ノードには customErrors セクションが 1 つしかないため、
      "xdt:Locator" 属性を使用する必要はありません。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    >
    -->
  </system.web>
</configuration>