import Component from "grimoirejs/lib/Core/Node/Component";
import IAttributeDeclaration from "grimoirejs/lib/Core/Node/IAttributeDeclaration";

export default class {{name}}Component extends Component {
      public static attributes: { [key: string]: IAttributeDeclaration } = {
        // Specify the attributes user can intaract
      };
}
