.prop-container:before {
	content:attr(propName);
	padding:10px;
	margin:10px;
}

.prop-container
{
	margin:10px 0;
}

.op-panel
{
	background-color:gray;
	padding:10px;
}

.vp-label
{
	position:absolute;
}
.vp-label-result
{
	position: relative;
}
.vp-label-light
{
	left: 50%;
}
.vp-label-depth
{
    right: 0;
}
canvas{
	margin: 0;
	padding: 0;
}

body{
	margin: 0px;
	padding: 0px;
    background-color: #CCF;
}

#control {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.canvasContainer {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 155px;
}